


@{
  Layout = "_Layout";
}

<h1>Animal Shelter</h1>
<h3><a href='/animals'>Show Animals</a></h3>
@* <h3><a href='/animals/create'>Add </a></h3> *@
<h3>@Html.ActionLink("Add animal", "Create", "Animals")</h3>